*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Josefin Sans", sans-serif;
}

.container{
    padding: 40px;
}

.section-one{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 25px;
    border-radius: 10px;
}

.section-one__contact{
    background-color: orange;
    color: black;
    padding: 5px 10px;
    margin: 10px 0 0 0;
    text-decoration: none;
    display: inline-block;
}

.section-one__name{
    font-size: 60px;
    font-weight: 800px;
}

.section-one__role{
    font-size: 30px;
    margin: 10px 0 0 0;
    font-weight: 600px;
}

.section-two, .section-three, .section-four, .section-five{
    margin: 20px 0 0 0;
}

.section-two__description, .section-three__description, .section-four__description, .section-five__description{
    margin: 10px 0 0 0;
    line-height: 22px;
}

.section-five{
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.section-five__title a{
    color: orange;
    text-decoration: none;
}

.section-three li, .section-four li{
    list-style-type: none;
}

.section-three{
    background-color: #1cc6ff;
    padding: 20px;
    display: inline-block;
    height: 180px;
    border-radius: 10px;
    vertical-align: top;
}

.section-four{
    background-color: orange;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
    height: 180px;
    vertical-align: top;
}

.section-four li p{
    margin-bottom: 15px
}

.contact-form{
    margin: 25px 0 0 0;
    display: inline-block;
}

.contact-form__input, .contact-form__textarea, .contact-form__submit{
    margin: 20px 0 0 0;
}

.contact-form__input{
    padding: 10px;
    border: none;
    border-bottom: 1px solid black;
}

.contact-form__textarea{
    padding: 10px;
    border-bottom: 1px solid black;
}

.contact-form__submit{
    padding: 10px 20px;
    background-color: orange;
    color: black;
    border: none;
}

.contact-div{
    text-align: center;
    padding: 25px;
}


@media (max-width: 600px){
    .section-one__name{
        font-size: 35px;
    }

    .section-one__role{
        font-size: 20px !important;
        margin: 10px 0 0 0;
    }

    .section-two__description{
        text-align: justify;
    }

    .section-three {
        height: 105px !important;
    }

    .section-four {
        height: 305px !important;
    }

    .contact-div {
        text-align: center;
        padding: 25px;
        background-color: black;
        color: white;
        border-radius: 10px;
        margin: 20px 0 0 0;
    }
}